.content {
  width: 80%;
  display: block;
  background-color: white;
  height: 100%;
  margin: 12px auto 12px auto;
  min-height: 650px;
  padding: 12px;
  box-shadow: 0 0 0 2px white, 0.3em 0.3em 1em rgb(19 19 19 / 60%);
}
