<h3>Календарь</h3>
<h5>Выберите дату матча, команду и отправить заявку.</h5>
<hr>
<div class="calendar">
    <mat-card class="demo-inline-calendar-card">
        <mat-calendar [minDate]="minDate" [(selected)]="date" (selectedChange)="change()"></mat-calendar>
    </mat-card>
    <ng-container *ngIf="isSelectedDate">
        <div class="match-form">
            <h3>Заявка на матч</h3>
            <form  [formGroup]="matchForm">
                <mat-form-field>
                    <mat-label>Выберите команду</mat-label>
                    <mat-select formControlName="team">
                        <ng-container *ngFor="let team of teams | async">
                            <mat-option [value]="team.id">{{team.name}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="send()" [disabled]="!matchForm.valid">Отправить</button>
            </form>
        </div>
    </ng-container>

</div>

