<div>
    <h3>Личный кабинет</h3>
    <form  [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="login">
            <div class="login-form">
                <h3>Логин:</h3>
                <input formControlName="login" type="text" placeholder="Логин"/><br>
                <h3>Пароль:</h3>
                <input formControlName="password"  type="password" placeholder="Пароль"/>
                <br>
                <button mat-raised-button color="primary">Войти</button>

                <p *ngIf="isLoginError">Введен неверный логин или пароль!</p>
            </div>
        </div>
    </form>
</div>


