/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  margin: 0;
  font-family: "PT Sans Narrow","Arial",sans-serif;
  background-color: rgb(133 142 151 / 10%);
  min-height: 600px;
  overflow: hidden;
}

.mdc-text-field--filled.mdc-text-field--disabled .mdc-text-field__input {
  color: black !important;
}

mat-form-field {
  width:100%
}
